body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: whitesmoke;
    /*border: 1px solid #e5e5e5;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}

label {
    font-weight: normal !important;
}

#login-panel {
    border: none;
    box-shadow: none;
}

#login-panel > .panel-body,
.panel-default > .panel-body {
    background-color: whitesmoke;
}

.common-font * {
    font-size: 14px;
    color: black;
}

.primary-color {
    color: #286090;
}

.noborder * {
    border-style: none;
    box-shadow: none;
}

.noborder-single {
    border-style: none;
    box-shadow: none;
}

.whitesmoke * {
    background-color: whitesmoke;
}

.whitesmoke-single {
    background-color: whitesmoke;
}

.chat-panel {
    min-height: 200px;
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

.custom-buttons-1 {
    color: #555555;
}

.custom-buttons-1:hover {
    color: black;
    cursor: pointer;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: whitesmoke;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: #555555;
    background-color: whitesmoke;
}

.nav-pills > li.active > a:hover {
    background-color: whitesmoke;
    color: black;
}

.table-condensed {
    font-size: 14px;
    color: black;
}




