body {
    padding-top: 70px;
}

.ui-autocomplete {
    z-index: 2000;
}

.container-fluid {
    max-width: 960px;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom,
.navbar-custom .navbar-nav .dropdown .dropdown-toggle {
    background-color: #507299;
}

.navbar-custom .navbar-nav .dropdown .dropdown-toggle:hover {
    background-color: #286090;
}

.navbar-custom .dropdown a {
    color: whitesmoke;
}

.navbar-custom .dropdown .dropdown-menu a {
    color: black;
}