<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>HELLO</title>
</head>
<body>
<h2>Hello Thymeleaf</h2>
<p th:each="number : ${integer_list}">
<p th:text="${number}"></p>
</p>
</body>
</html>